<!doctype html>
<head>
<meta http-equiv="refresh" content="30" />
<link href="//cloud.typenetwork.com/projects/1847/fontface.css/" rel="stylesheet" type="text/css">
<style media="screen" type="text/css">
h1 {
    font-family: "Neue Haas Grotesk Disp Med";
    font-style: Normal;
    font-weight: Normal;
}
h2 {
    font-family: "Neue Haas Grotesk Disp Med";
    font-style: Normal;
    font-weight: Normal;
}
</style>
</head>

<title>Cosmos WTF</title>
<h1>Hello!</h1>
<p>This service parses the testnet config files for initial P2P seed addresses,
and attempts to fetch the last_block_height via /abci_info endpoint, using
the P2P ports' last digit replaced by 7 as guess of the RPC port.

<p>Note that gaia-3004 is the same genesis endpoints as gaia-3003 with a different
chain ID.

<p>Last collected: {{ data['last_collected'] }}

{% for net, subdata in data['statii'].items() %}
<h2>{{ net }}</h2>
{% for endpoint, status in subdata.items() %}
<p><a href="http://{{ endpoint }}">{{ endpoint }}</a>: {{ status }}</p>
{% endfor %}
{% endfor %}

<br>
<br>
<br>
<img src="/static/vs-logo-20p.png">
